@{
    ViewData["Title"] = "ABOUT";
}
<div id="topper">
  <br><br>
<h1 style="text-align: center;">@ViewData["Title"]</h1>
<br><br>
</div>
<br><br>

<div class="row">
<div class="col-sm-6">
<h1>Get Everything you need<br><a id="Highlight">Quickly</a> & at the <a id="Highlight">BEST PRICES</a><br>with our service.</h1>
   <div class="Intro">
    <p>Our company was found in Beirut in 1 November 1990s by a Team of Technical professionals
    experienced mostly in<br> computers, software, and technological devices, etc.<br>
    The company migrated toward marketing a wide range of laptops mainly and their Accessories.</p></div>
    <h2>We are not the only ones ,but we are <a id="Highlight">the Best.</a></h2>
</div><br>
<div class="col-sm-6"><img src="/images/SetupTable.jpg" alt="Store setup"></div>

</div>

<br><br>
<br><br>
<div class="Team" id="Squad" style="text-align: center;">
    <h1 style="border-top: 2px solid green;"><br><a id="Highlight">Meet Our Team</a></h1>
    <br><br>
    <div class="members">
      <div class="row">
    <div class="col-sm">
        <img id="member" src="/images/MohamadMember.jpg" alt="Mohamad Hassan">
    </div>
    <div class="col-sm">
       <img id="member" src="/images/NaderMember.jpg" alt="Nader Kobaisse"></div>
    </div>   
    <br>
    <div class="row">
    <div class="col-sm">
        <p id="Catext">Mohamad Hassan
            <br>Front-End & Back-End Developer
            <br>& The CEO
        </p></div>
    
    <div class="col-sm">
       <p id="Catext">Nader Kobaisse
           <br>Front-End Developer
       </p></div>
    </div>
    </div>
</div>
<br><br>
