@{
    ViewData["Title"] = "CONTACT";
}
<div id="topper">
  <br><br>
<h1 style="text-align: center;">@ViewData["Title"]</h1>
<br><br>
</div>
<br><br>

<h2 style="text-align: center;"> Our Support Team is available to help <a id="Highlight">24/7</a></h2>

<br>

 <div id="ContactBanner"> 
 <br><br>
          <br><br>
          <div id="textContactBanner">
        <p><h1>Get in Touch</h1>Want to Get in Touch?<br>Below Is How You Can Reach Us</p></div>
        <br><br>
  <br><br><br>
 </div>

<br><br><br><br>
<div id=MapTitle>
 <h1>On Map Location </h1></div>
 <br><br>
<div id="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d3313.5713409334926!2d35.49712456454943!3d33.84916368585339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e0!4m0!4m3!3m2!1d33.848695899999996!2d35.4999928!5e0!3m2!1sen!2slb!4v1640356682652!5m2!1sen!2slb" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<br><br><br><br>
<div class="container">
    <div class="text-center" >
    <br><br>
    <div class="container">
  <div class="row">
    <div class="col-sm">
      <div id="contactIcn">
      <i id="contactIcn2" class="fa fa-phone fa-4x"></i>
      <p><h2>Phone</h2><br> +961 1478788</p></div>
    </div>
    <div class="col-sm">
       <div id="contactIcn">
      <i id="contactIcn2" class="fas fa-map-marker-alt fa-4x"></i>
      <p><h2>Address</h2><br> Beirut,near Airport Street,Al Sadek Building ,1stFloor</p></div>
    </div>
    <div class="col-sm">
       <div id="contactIcn">
      <i id="contactIcn2" class="fas fa-envelope fa-4x"></i>
       <p><h2>Mail</h2><br> Techno@gmail.com</p> </div>
    </div>
</div>
<br><br><br>

    